a {
    text-decoration: none;
    color: rgb(73, 80, 87);
}

body {
    margin: 0px;
}

button {
    background-color: #1ABC9C;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}